.reportIssue {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--ifm-color-emphasis-200);
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-700);
}

.reportIssueLink {
  font-weight: 600;
  white-space: nowrap;
}
